<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>0402. Zorgprocesondersteuning - Resource planning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>0402. Zorgprocesondersteuning - Resource planning</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6d1ef4f2fcb2422e8a7ab5115c2bec09.png" alt="0402. Zorgprocesondersteuning - Resource planning" usemap="#id-6d1ef4f2fcb2422e8a7ab5115c2bec09map"/>
			   <map name="id-6d1ef4f2fcb2422e8a7ab5115c2bec09map">
				  				<area shape="rect" coords="298,34,418,114" href="../elements/id-a40d294050634de2a2a7e17c28f3f655.html"  target="element">
				  				<area shape="rect" coords="166,34,286,114" href="../elements/id-4283b183a0e94105adacb6eafdaef32b.html"  target="element">
				  				<area shape="rect" coords="430,34,550,114" href="../elements/id-74fb017929784e05997c1c79de134d9b.html"  target="element">
				  				<area shape="rect" coords="34,34,154,114" href="../elements/id-f994c57113a54192a98e6de7334ed06a.html"  target="element">

				  		<area shape="rect" coords="10,10,575,131" href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Dit domein bevat de activiteiten op het gebied van het plannen van de inzet van personeel en locaties.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element"> Resource planning </a> </td>
											    <td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f994c57113a54192a98e6de7334ed06a.html" target="element"> Opstellen en onderhouden productieplanning </a> </td>
													    <td> <a href="../elements/id-f994c57113a54192a98e6de7334ed06a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74fb017929784e05997c1c79de134d9b.html" target="element"> Plannen locatie </a> </td>
													    <td> <a href="../elements/id-74fb017929784e05997c1c79de134d9b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4283b183a0e94105adacb6eafdaef32b.html" target="element"> Plannen personen </a> </td>
													    <td> <a href="../elements/id-4283b183a0e94105adacb6eafdaef32b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a40d294050634de2a2a7e17c28f3f655.html" target="element"> Plannen middelen </a> </td>
													    <td> <a href="../elements/id-a40d294050634de2a2a7e17c28f3f655.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c744b1343383445db94b268aabefed46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c744b1343383445db94b268aabefed46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element"> Resource planning </a> </td>
																		<td> <a href="../elements/id-f994c57113a54192a98e6de7334ed06a.html" target="element"> Opstellen en onderhouden productieplanning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0f9b1f4dda4869af740be69a1da999.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0f9b1f4dda4869af740be69a1da999.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element"> Resource planning </a> </td>
																		<td> <a href="../elements/id-4283b183a0e94105adacb6eafdaef32b.html" target="element"> Plannen personen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-868d6ab5094440f88810b0feae1c126e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-868d6ab5094440f88810b0feae1c126e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element"> Resource planning </a> </td>
																		<td> <a href="../elements/id-a40d294050634de2a2a7e17c28f3f655.html" target="element"> Plannen middelen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24fdbf48d62e492ebeceb7c833c90ddd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24fdbf48d62e492ebeceb7c833c90ddd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fd06de88e4f4c71811028a0e41c1de9.html" target="element"> Resource planning </a> </td>
																		<td> <a href="../elements/id-74fb017929784e05997c1c79de134d9b.html" target="element"> Plannen locatie </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>